
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

.blue-glassmorphism {
    background: rgb(39, 51, 89, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  /* white glassmorphism */
  .white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .eth-card {
    background-color:#a099ff;
    background-image: 
      radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%), 
      radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%), 
      radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%), 
      radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%), 
      radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%), 
      radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%), 
      radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);
  }

  .dark-eth-card {
    background-color: #3b3b3b;
    background-image:
      radial-gradient(at 83% 67%, rgba(128, 0, 0, 1) 0, transparent 58%),
      radial-gradient(at 67% 20%, rgba(128, 0, 128, 1) 0, transparent 59%),
      radial-gradient(at 88% 35%, rgba(0, 0, 128, 1) 0, transparent 50%),
      radial-gradient(at 31% 91%, rgba(32, 32, 32, 1) 0, transparent 52%),
      radial-gradient(at 27% 71%, rgba(128, 0, 0, 1) 0, transparent 49%),
      radial-gradient(at 74% 89%, rgba(0, 0, 128, 1) 0, transparent 51%),
      radial-gradient(at 53% 75%, rgba(128, 0, 128, 1) 0, transparent 45%);
  }
  

/* Build and Deploy a Full Stack MERN AI Image Generation App | Midjourney & DALL-E Clone
https://www.youtube.com/watch?v=EyIvuigqDoA&t=584s 

https://gist.github.com/adrianhajdin/b2264e1f443a0003d6947549b9e07ec5
*/